@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

:root {
	--font: "Lexend", sans-serif;
	--background-color1: #4fa3d8;
	--background-color2: #2c3e50;
	--black: 0, 0, 0;
}

body {
	background-color: var(--background-color1);
	font-family: var(--font);
}

nav {
	background-color: rgb(var(--black), 0.5);
	backdrop-filter: blur(20px);
}

.top-section {
	padding-top: 140px;
	padding-bottom: 40px;
}

.section2,
.section4,
.section6 {
	padding-top: 100px;
	background-color: var(--background-color2);
	padding-bottom: 130px;
}

.section3 .bi {
	font-size: 2rem;
}

.section3 {
	padding-top: 50px;
}

h2 {
	margin-bottom: 5rem;
}

.footer {
	background-color: #060f18;
}

.formulaire {
	background: rgba(var(--black), 0.2);
}

.formulaire .form-control {
	background: rgba(var(--black), 0.2);
	border: 1px solid rgba(var(--black), 0.2);
	color: white;
}
.formulaire .form-control::placeholder {
	color: white;
	opacity: 0.7;
}
.formulaire .form-control:focus {
	border-color: var(--background-color1);
	color: white;
}

.section6 .rounded-circle {
	width: 50px;
	height: 50px;
}
